table {
  border-collapse: collapse;
  margin: 50px auto;
  width: 750px;
}

tr:nth-of-type( odd ) {
  background: #eee;
}

th {
  background: #3498db;
  color: white;
  font-weight: 700;
}

td, th {
  border: 1px solid #ccc;
  font-size: 18px;
  padding: 10px;
  text-align: left;
}
